.square {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 610px;
    height: 550px;
}