html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.square {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 610px;
    height: 550px;
}

.grid2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 610px;
    height: 550px;
    margin-left: 1000;
    margin-top: -550px;
    z-index: 1;
}

yes_button {
    position: absolute;
    top: 210px;
    left: 695px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background: rgb(32, 138, 37);
    border: none;
}

player_one_turn_button {
    position: absolute;
    top: 210px;
    left: 700px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

leave_buffer_button {
    position: absolute;
    top: 210px;
    left: 700px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

player_two_turn_button {
    position: absolute;
    top: 210px;
    left: 700px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}
